<div style="text-align:center;display: flex;flex-flow: column;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="border: 1px solid black;display:flex;flex-flow:column;align-items: center;width:200px;align-self: center;">
    <h2>Po-icon</h2>
    <span *ngFor="let theme of themes">
      {{theme?theme:'default'}}: <po-icon>donut_small{{theme?('--'+theme):''}}</po-icon>
    </span>
  </div>
  <div style="display:flex;flex-flow:column;padding:16px;">
    <h2>Test icons</h2>
    <form [formGroup]="form">
      <mat-form-field style="padding: 8px;">
        <mat-label>Theme or Sprite</mat-label>
        <mat-select [formControlName]="'collection'">
          <mat-option *ngFor="let collection of collections" [value]="collection">
            {{collection?collection:'default'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding: 8px;">
        <input type="text" placeholder="Pick icon" aria-label="Number" matInput [formControlName]="'icon'" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let icon of filteredIcons$ | async" [value]="icon">
            {{icon}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="form.invalid === true">{{form.values | json}}</mat-error>
      <mat-form-field style="padding: 8px;">
        <input matInput type="number" placeholder="size" [formControlName]="'size'">
      </mat-form-field>
    </form>
    <div style="width:100%;">
      <button mat-flat-button color="primary" style="width:92px;margin:4px;" (click)="openColorpicker()">
        <div style="display:flex;flex-flow:row;align-items:center;justify-content: space-between">
          <span>color</span>
          <div style="background-color:white;width:24px;height:24px;display:flex;justify-content:center;border:1px solid black;border-radius: 5px">
            <div [ngStyle]="{'background-color':color}"  style="width:10px;height:10px;align-self:center;">
            </div>
          </div>
        </div>
      </button>
      <button mat-flat-button color="primary" style="width:112px;margin:4px;" (click)="openBgColorpicker()">
        <div style="display:flex;flex-flow:row;align-items:center;justify-content: space-between">
          <span>bg-color</span>
          <div style="background-color:white;width:24px;height:24px;display:flex;justify-content:center;border:1px solid black;border-radius: 5px">
            <div [ngStyle]="{'background-color':bgColor}" style="width:10px;height:10px;align-self:center;">
            </div>
          </div>
        </div>
      </button>
    </div>
    <po-icon [color]="color" [bgColor]="bgColor" [size]="size">{{iconString}}</po-icon>
    <p>&lt;po-icon{{ color !== '#000' && color !== '#000000' ? ' [color]="' + color + '"' : ''}}{{ bgColor !== '#fff' && bgColor !== '#ffffff' ? ' [bgColor]="' + bgColor + '"' : ''}}{{ size !== '24px' ? ' [size]="' + size + '"' : ''}}&gt;{{iconString}}&lt;/po-icon&gt;</p>
  </div>
</div>

