<div style="text-align:center;display: flex;flex-flow: column;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="border: 1px solid black;display:flex;flex-flow:column;align-items: center;width:200px;align-self: center;">
    <h2>Po-icon</h2>
    <span *ngFor="let theme of themes">
      {{theme?theme:'default'}}: <po-icon>donut_small{{theme?('--'+theme):''}}</po-icon>
    </span>
  </div>
  <div style="display:flex;flex-flow:column;padding:16px;">
    <h2>Test icons</h2>
    <form [formGroup]="form">
      <mat-form-field style="padding: 8px;">
        <mat-label>Theme</mat-label>
        <mat-select [formControlName]="'theme'">
          <mat-option *ngFor="let theme of themes" [value]="theme">
            {{theme?theme:'default'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding: 8px;">
        <input type="text" placeholder="Pick icon" aria-label="Number" matInput [formControlName]="'icon'" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let icon of filteredIcons$ | async" [value]="icon">
            {{icon}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="form.invalid === true">{{form.values | json}}</mat-error>
    </form>
    <po-icon>{{iconString}}</po-icon>
    <p>&lt;po-icon&gt;{{iconString}}&lt;/po-icon&gt;</p>
  </div>
</div>

